<h1>Welcome <%= @email %>!</h1>
This is where I put all the extremely boring information about how this app can really make someones life a lot better. However it will not be completed for another few months because this program will need to take a little bit more time to smooth out the wrinkles and make people feel better when they actually download the program to test it out on their machines. Whew..
