<h1><%=@computer.name%></h1>

Total number of accounts: <%=@computer.account.size%><br/>
<%@computer.account.each do |account|%>
	Username: <%=account.username%><br/>
	Tracking: <%=account.tracking%><br/><br/>
<%end%>