<h1>Computer Accounts</h1>
<% @computers.each do |computer| %>
	<%= computer.name %><br/>
	<%computer.account.all.each do |account|%>
		<%=account.domain%>, <%=account.username%>, <%=account.tracking%><br/>
	<% end%>
	<br/>
<%end%>