<h1>Account <%=@account.username%></h1>
Computer Account: <%=@account.username%><br/>
<br/>
<span>Processes</span><br/>
<%@account.account_process.each do |process|%>
	Name: <%=process.name%><br/>
<%end%>